#────────────────────────────────────────────────────────────────────────────────────────────────────
#   ENVIRONMENT:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.env
.env*
!.env.example
*.crt
*.csr
*.key
*.org

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   DOCKER:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.docker-sync
docker-storage/

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   FRONT-END:
#────────────────────────────────────────────────────────────────────────────────────────────────────
node_modules

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   BACK-END:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   JETBRAINS:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   VS CODE:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.vscode/

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   STS:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

#────────────────────────────────────────────────────────────────────────────────────────────────────
#   MISC:
#────────────────────────────────────────────────────────────────────────────────────────────────────
.DS_Store
*.swp
/workspace/Dockerfile
